<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./reset.css" />
    <link rel="stylesheet" href="./hw.css" />

    <title>Document</title>
  </head>
  <body>
    <div class="general">
      <div class="card">
        <img src="./images/2.jpg" />

        <div class="data">
          <span
            class="icon"
            aria-hidden="true"
            data-icon="&#xe904;"
            class="down-arrow"
          ></span>
          <span class="color">Ölkə</span>
          <span
            class="icon"
            aria-hidden="true"
            data-icon="&#xe953;"
            class="down-arrow"
          ></span>
          <span class="color">22.12.20</span>
        </div>

        <h3 class="heading">
          Fransa Prezidenti Emmanuel Makron Türkiyə Prezidenti Rəcəb Tayyib
          Ərdoğana...
        </h3>
        <br />
        <a
          class="link"
          href="https://visiontv.az/article/makron-erdogana-mektub-yazdi"
        >
          <button>Oxu</button></a
        >
      </div>
      <div class="card">
        <img src="./images/3.jpg" />
        <div class="data">
          <span
            class="icon"
            aria-hidden="true"
            data-icon="&#xe904;"
            class="down-arrow"
          ></span>
          <span class="color">Ölkə</span>
          <span
            class="icon"
            aria-hidden="true"
            data-icon="&#xe953;"
            class="down-arrow"
          ></span>
          <span class="color">21.12.20</span>
        </div>

        <h3 class="heading">Hakan Çalhanoğlu koronavirusa yoluxub</h3>
        <br /><br />
        <a
          class="link"
          href="https://visiontv.az/article/makron-erdogana-mektub-yazdi"
        >
          <button>Oxu</button></a
        >
      </div>
      <div class="card">
        <img src="./images/4.jpg" />
        <div class="data">
          <span
            class="icon"
            aria-hidden="true"
            data-icon="&#xe904;"
            class="down-arrow"
          ></span>
          <span class="color">Ölkə</span>
          <span
            class="icon"
            aria-hidden="true"
            data-icon="&#xe953;"
            class="down-arrow"
          ></span>
          <span class="color">02.01.21</span>
        </div>

        <h3 class="heading">
          Məsut Özil bu gecə Türkiyəyə gəlir - YENİLƏNİB + FOTO
        </h3>
        <br /><br />
        <a class="link" href="https://oxu.az/sport/458465">
          <button>Oxu</button></a
        >
      </div>
      <div class="card">
        <img src="./images/5.jpg" />
        <div class="data">
          <span
            class="icon"
            aria-hidden="true"
            data-icon="&#xe904;"
            class="down-arrow"
          ></span>
          <span class="color">Ölkə</span>
          <span
            class="icon"
            aria-hidden="true"
            data-icon="&#xe953;"
            class="down-arrow"
          ></span>
          <span class="color">24.11.20</span>
        </div>

        <h3 class="heading">
          Azərbaycanda koronavirusa 322 yeni yoluxma qeydə alınıb
        </h3>
        <br /><br />
        <a class="link" href="https://oxu.az/society/458505">
          <button>Oxu</button></a
        >
      </div>
      <div class="card">
        <img src="./images/6.jpg" />
        <div class="data">
          <span
            class="icon"
            aria-hidden="true"
            data-icon="&#xe904;"
            class="down-arrow"
          ></span>
          <span class="color">Ölkə</span>
          <span
            class="icon"
            aria-hidden="true"
            data-icon="&#xe953;"
            class="down-arrow"
          ></span>
          <span class="color">22.01.21</span>
        </div>

        <h3 class="heading">
          Daha bir müharibə qazisi yüksək texnologiyalı protezlə təmin olunur
        </h3>
        <br />
        <a class="link" href="https://oxu.az/society/458503">
          <button>Oxu</button></a
        >
      </div>
    </div>
    <hr />
    <h1>Ən çox oxunanlar</h1>
    <div class="news">
      <img src="./images/7.jpg" />
      <h3 class="row-news">Azərbaycanlı rejissor vəfat edib</h3>
      <p class="row-news">
        Görkəmli azərbaycanlı sənədli film rejissoru Nazim Rza İsrafiloğlu 80
        yaşında vəfat edib.
      </p>
      <div class="data-news">
        <span
          class="icon"
          aria-hidden="true"
          data-icon="&#xe904;"
          class="down-arrow"
        ></span>
        <span class="color">Ölkə</span>
        <span
          class="icon"
          aria-hidden="true"
          data-icon="&#xe953;"
          class="down-arrow"
        ></span>
        <span class="color">22.12.20</span>
      </div>
    </div>
    <div class="news">
      <img src="./images/8.jpg" />
      <h3 class="row-news">
        İşğaldan azad edilmiş ərazilərdə “Tour de Azerbaijan” velosiped yarışı
        keçiriləcək
      </h3>
      <p class="row-news">
        Tour de Azerbaijan” velosiped yarışının bərpası işğaldan azad edilmiş
        Azərbaycan torpaqlarında turizmin inkişafı üçün ciddi bir təkan ola
        bilər.
      </p>

      <div class="data-news">
        <span
          class="icon"
          aria-hidden="true"
          data-icon="&#xe904;"
          class="down-arrow"
        ></span>
        <span class="color">Ölkə</span>
        <span
          class="icon"
          aria-hidden="true"
          data-icon="&#xe953;"
          class="down-arrow"
        ></span>
        <span class="color">17.12.20</span>
      </div>
    </div>

    <div class="news">
      <img src="./images/9.jpg" />
      <h3 class="row-news">
        Azərbaycanda tədrisin taleyinə gələn həftə aydınlıq gətiriləcək
      </h3>
      <p class="row-news">
        Növbəti həftə Təhsil naziri Emin Əmrullayevin iştirakı ilə brifinq
        təşkil ediləcək.
      </p>
      <div class="data-news">
        <span
          class="icon"
          aria-hidden="true"
          data-icon="&#xe904;"
          class="down-arrow"
        ></span>
        <span class="color">Ölkə</span>
        <span
          class="icon"
          aria-hidden="true"
          data-icon="&#xe953;"
          class="down-arrow"
        ></span>
        <span class="color">22.12.20</span>
      </div>
    </div>
  </body>
</html>
